body {
}
.icon {
    padding-left: 2px;
    padding-right: 6px;
    display: inline-block;
    color:aliceblue;
    color-interpolation:auto;
  
}
.iconop {
    color: aliceblue;
    color-interpolation: auto;
}
