
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageNotFound</title>
</head>
<body>
    <div> 
        <h4 style="color:red">Page not found</h4>
        <p style="color:red">The requested page is not found</p>
    </div>
</body>
</html>
