
@{
    ViewBag.Title = "AdminAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>About</h4>
<hr />

<div class="row">
    <div class="col-6">
        <div class="card card-body">
            <h5>Bussiness Information</h5>
            <div>
                <i class="fas fa-flag"></i>
                <span>Opened on 14 Augest 1997</span>
            </div>
            <div>
                <i class="fas fa-brain"></i>
                <span>Mission</span>
                <p>Our vision is to provide modern library management system.</p>
            </div>
        </div>
        <br />
        <div class="card card-body">
            <h5>Meet Our Team</h5>
            <div>
                <i class="fas fa-user-cog"></i>
                <span>Sanoj C R</span>
            </div>
            <div>
                <i class="fas fa-user-cog"></i>
                <span>Sanoj C R</span>
            </div>
            <div>
                <i class="fas fa-user-cog"></i>
                <span>Sanoj C R</span>
            </div>
        </div>

    </div>
    <div class="col">
        <img style="width:100%; height:332px; object-fit: cover;" src="https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
    </div>
</div>
<br />


